<!DOCTYPE html>
<html>
  <head>
    <title>500 Error</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div id="error">
      <p>500 Error: We're sorry, a server error has occurred.</br>
       Return to the <a href="/">main page</a>.</p>
    </div>
    <div id="footer">
      <p><a href="/about">About</a></br>
      persistent-cal is managed by Danny Hermes.</br>
      Please contact daniel.j.hermes@gmail.com for any questions.</p>
    </div>
  </body>
</html>
