<!DOCTYPE html>
<html>
  <head>
    <title>Persistent Calendar</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script src="/javascripts/jquery-1.6.2.min.js"></script>
    <script type="text/javascript">
      // Thanks to pete lepage (see main.css for link)
      function togglePanel(prefix) {
        var elem = document.getElementById(prefix + "-panel");
        if (elem.classList) {
          elem.classList.toggle("show");
        } else {
          var classes = elem.className;
          if (classes.indexOf("show") >= 0) {
            elem.className = classes.replace("show", "");
          } else {
            elem.className = classes + " show";
          }
          console.log(elem.className);
        }
      }
    </script>
    <script language="javascript" type="text/javascript">
    function draw_cal(data) {
      var calendars = JSON.parse(data);

      if (calendars.length) {
        $('#subscriptions-row').show()
      }

      for (var i = 0; i < calendars.length; i++) {
        $('#cal-' + i).html(calendars[i]);
      }

      if (calendars.length > 3) {
        $('#add-panel').remove()
      } else {
        $('#cal-button').show();
      }
    }

    function reset(data) {
      var parsed_data = JSON.parse(data);

      if (parsed_data === 'whitelist:fail') {
        spawnAlert('Feed is not on whitelist.');
      } else if (parsed_data === 'limit:fail') {
        spawnAlert('You have reached the maximum number of feeds.');
      } else if (parsed_data === 'contained:fail') {
        spawnAlert('You are already subscribed to this calendar feed.');
      } else if (parsed_data === 'no_user:fail') {
        spawnAlert('No user was provided.');
      } else {
        draw_cal(data);
      }

      $('#calendar-link').val('');
      togglePanel('add');

      return false;
    }

    function freq_set(data) {
      var frequency = JSON.parse(data);

      if (frequency === 'no_cal:fail') {
        spawnAlert('You have no calendar to update.');
      } else if (frequency === 'wrong_freq:fail') {
        spawnAlert('That is not a valid frequency.');
      } else if (frequency === 'no_user:fail') {
        spawnAlert('No user was provided.');
      } else {
        var frequency_verbose = frequency[0],
            frequency_val = frequency[1];
        $('#freq-val').html(frequency_verbose);
        $('#frequency').val(frequency_val);
      }

      return false;
    }

    function freq_reset(data) {
      freq_set(data);
      togglePanel('freq');

      return false;
    }

    function removeAlert() {
      togglePanel('alert');

      function removeElt() {
        $('#alert-panel').remove();
      }
      // TODO(dhermes), make the transition to 0 px rather
      // than to -145px
      // alert_div.css('left', (-width) + 'px');
      setTimeout("$('#alert-panel').remove()", 500);
    }

    function spawnAlert(text) {
      // first check if one exists, and remove it if it has not been
      var alert = $('#alert-panel');
      if (alert.length) {
        removeAlert();
      }

      var container = $('#alerts'),
          alert_div = $(document.createElement('div')),
          alert_text = $(document.createElement('span')),
          alert_anchor = $(document.createElement('a'));
      alert_text.text(text);
      alert_text.css('position', 'relative');
      alert_text.css('top', '12px');
      alert_div.append(alert_text);
      alert_div.attr('id', 'alert-panel');
      alert_div.addClass('panel');

      alert_anchor.attr('href', '#');
      alert_anchor.attr('onclick', 'removeAlert();');
      alert_anchor.addClass('controller');
      alert_anchor.text('X')
      alert_div.append(alert_anchor);

      container.append(alert_div);
      // max(text_length, 170) since 170 is the standard
      var width = Math.max(140, alert_text.get(0).offsetWidth) + 30;
      alert_div.width(width);

      togglePanel('alert');
    }

    $(window).load(function () {
      draw_cal('{{ calendars|safe }}');
      freq_set('{{ frequency|safe }}');

      $('#cal-button').click(function () {
        $('#cal-data').show();
        $(this).hide();
      });

      $('#add').submit(function () {
        $.post('/add',
               {'calendar-link': $('#calendar-link').val()},
               reset);
        return false;
      });

      $('#freq').submit(function () {
        $.post('/freq',
               {'frequency': $('#frequency').val()},
               freq_reset);
        return false;
      });
    });
    </script>
  </head>
  <body>
    <table id="status-table">
      <tr>
        <td style="border-right-style:solid; border-right-width:1px;">
          Hello {{ id|safe }}. </br> Thanks for signing up.
        </td>
        <td>
          <table id="subscriptions">
            <tr id="subscriptions-row" style="display:none">
              <td style="border-bottom-style:solid; border-bottom-width:1px;">
                Your subscriptions
              </td>
            </tr>
            <tr><td id="cal-0"></td></tr>
            <tr><td id="cal-1"></td></tr>
            <tr><td id="cal-2"></td></tr>
            <tr><td id="cal-3"></td></tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="border-top-style:solid; border-top-width:1px;" colspan="2">
          Your subscriptions will be updated <text id="freq-val"></text>.
        </td>
      </tr>
    </table>

    <div id="add-panel" class="panel">
      <!-- Thanks to pete lepage (see main.css for link) -->
      <a href="#" onclick="togglePanel('add');" class="controller">&gt;</a>
      <div class="controller">ADD</div>
      <form id="add">
        <div id="cal-data">
          <input type="text" id="calendar-link" name="calendar-link" /><br/ >
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>

    <div id="freq-panel" class="panel">
      <a href="#" onclick="togglePanel('freq');" class="controller">&gt;</a>
      <div class="controller">CHG</div>
      <form id="freq">
        <div id="freq-data">
            <select id="frequency" name="frequency">
              <option value="three-hrs">3 hours</option>
              <option value="six-hrs">6 hours</option>
              <option value="half-day">12 hours</option>
              <option value="day">24 hours</option>
              <option value="two-day">2 days</option>
              <option value="week">1 week</option>
            </select><br/ >
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>

    <div id="alerts"></div>

    <div id="footer">
      <p><a href="/about">About</a></br>
      persistent-cal is managed by Danny Hermes.</br>
      Please contact dhermes@google.com for any questions.</p>
    </div>
  </body>
</html>
