<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Persistent Calendar</title>
  </head>
  <body>
    Hello {{ id }}.
    Thanks for signing up, please provide the link for the calendar you wish to update with
    <form action="/" method="post">
      <input type="text" name="calendar-link" />
      <input type="submit" value="Submit" />
      <select name="frequency">
        <option value="three-hrs">3 hours</option>
        <option value="six-hrs">6 hours</option>
        <option value="half-day">12 hours</option>
        <option value="day" selected="selected">24 hours</option>
        <option value="two-day">2 days</option>
        <option value="week">1 week</option>
      </select>
    </form>
  </body>
</html>
